<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/artistes.css">
    <link rel="icon" href="../static/images/favicon.png">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GROUPIE TRACKER</title>
</head>

<header>
{{template "header"}}

</header>


<body>
            <a id="title">Liste des Artistes</a>
        <input type="text" value="Search" onkeydown="" id="Search">
        <!-- <div id="AdvenceSearch">
            <input id="cbRap" type="checkbox" name="Rap" value="rap">
            <label for="Rap">Rap</label>

            <input id="cbRock" type="checkbox" name="Rock" value="rock">
            <label for="Rock">Rock</label>

            <input id="cbMetal" type="checkbox" name="Metal" value="metal">
            <label for="Rock">Metal</label>

            <input id="cbJazz" type="checkbox" name="Jazz" value="Jazz">
            <label for="Jazz">Rock</label>

            <input id="cbGroupe" type="checkbox" name="Groupe" value="groupe">
            <label for="Groupe">Groupe</label>
        </div> -->
        <div id="tabArtistes">
    {{ if .Groups}}
    {{ range .Groups}}
    <div class="nomGrp"> {{.Name }}</div>
    <p>
        {{ .ID }}
        {{ .CreationDate }}
        <span class="groupName">{{.Name}}</span>
         - <span class="groupMembers">{{ .Members }}</span>
         - First Album : <span class="groupDate">{{.FirstAlbum}}</span></p>
        {{end}}
    {{else}}
    <p>No groups found</p>
    {{end}}
  </div>
    
  
    
    <script src="../static/scripts/artistes.js"></script> 
</body>
</html>
