<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="../static/images/favicon.png">
        <link rel="stylesheet" href="../static/css/events.css">
        <link rel="stylesheet" href="../static/css/header.css">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GROUPIE TRACKER</title>
    </head>
    <body> 
        <navbar>
            {{template "header"}}
        </navbar>     
        <form method="POST">
        
            <div>
                <input list="allData" type="search" id="search_bar">
                <datalist id="allData">
                    {{range .Groups}}
                    <option value="{{.Name}}">| Groupe</option>
                    {{end}}
                    {{range .Groups}}
                    {{range .Members}}
                    <option value="{{.}}">| Member</option>
                    {{end}}
                    {{end}}
                </datalist>
            </div>
            <button type="submit">Rechercher</button>
        </form>
        <div>

            <h1>Liste des Evenements</h1>
        <form method="POST">

            <div class="liste"> 
                {{ if .Groups }}
            {{ range .Groups }}
            <button name="groups" value={{.ID}} class="groups" >{{.Name}}</button>
                {{end}}
            {{end}}
                
            </div>
        </form>
            {{ if .Relations }}
            <div class="group_event">
                <img src="{{.ThisGroup.Image}}" alt="Image du groupe {{.ThisGroup.Name}}">
                <p>{{.ThisGroup.Name}}</p>
            {{ range .Relations}}
                <p>{{.City}}</p>
                {{range $date:=.Dates}}
                <p>{{ $date }}</p>
                {{end}}
                {{end}}
            </div>
            {{end}}

        </div>
    </body>

    <script src="../static/scripts/events.js"></script>  
</html>

                <!-- <img src="../static/images/ARNAUD.JPG" id="imgEvent"> -->

<!-- <button id="next" type="button" onclick="">></button>
                <button id="back" type="button" onclick=""><</button> -->