<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/images/favicon.png">
    <link rel="stylesheet" href="../static/css/events.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/header.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GROUPIE TRACKER</title>
</head>
<body> 
    <navbar>
        {{template "header"}}
    </navbar>     
    
    <div>
        
        <h1>Liste des Evenements</h1>
        
        <form action="/events?oneGroup=" id="formSearch" method="POST">
            
            <div>
                <input name="search" list="allData" type="search" id="search_bar" value={{.ValueSearch}}>
                <datalist id="allData">
                    {{range .Groups}}
                    <option value="{{.Name}}">| Groupe</option>
                    {{end}}
                    {{range .Groups}}
                    {{range .Members}}
                    <option value="{{.}}">| Member</option>
                    {{end}}
                    {{end}}
                </datalist>
            </div>
            <button type="submit">Rechercher</button>
        </form>
        
        <div class="pageEvents">
            <div class="liste">
                {{ if .GroupsFound }}
                {{range .GroupsFound}}
                <button onclick="displayGroup('{{.ID}}')" name="oneGroup" value="{{.ID}}" class="oneGroup">
                    <h2> {{ .Name}}</h2>
                    <h3>Membres</h3>
                    <p> |
                        {{range $member := .Members}}
                        <span> {{$member}} |</span>
                        {{end}}
                    </p>
                </button>
                {{end}}
                {{else}}
                <p>Recherchez un groupe, puis cliquez dessus pour voir ses dates de concert.</p>
                {{end}}
            </div>
            
            <div class="group_event">
                {{ if .Relations }}
                <img src="{{.ThisGroup.Image}}" alt="Image du groupe {{.ThisGroup.Name}}">
                <h1>{{.ThisGroup.Name}} en concert ! </h1>
                {{ range .Relations}}
                <div class="concert">
                    <p>{{.City}}</p>
                    {{range $date:=.Dates}}
                    <p>{{ $date }}</p>
                    {{end}}
                </div>
                {{end}}
                {{else}}
                <p> Ici, s'affichera le groupe sélectionné et ses événements.</p>
                {{end}}
            </div>
        </div>
        
        
        
    </div>
</body>

<script src="../static/scripts/events.js"></script>  
</html>

<!-- <img src="../static/images/ARNAUD.JPG" id="imgEvent"> -->

<!-- <button id="next" type="button" onclick="">></button>
    <button id="back" type="button" onclick=""><</button> -->