<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="../static/images/favicon.png">
        <link rel="stylesheet" href="../static/css/events.css">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GROUPIE TRACKER</title>
    </head>
    <header>
        {{template "header"}}
    </header>
    <body>
        <h1>Evenements</h1>


        <div id="Title">Listes des Evenements</div>
        <form action="" method="GET">
            <input type="text" id="search">
            <button type="submit" id="btSearch">Search</button>
        </form>
        <div id="liste">
            <button id="next" type="button" onclick="">></button>
            <button id="back" type="button" onclick=""><</button>
        </div>
        <div id="fiche_event">
            <img src="../static/images/ARNAUD.JPG" id="imgEvent">
            <a id="nameEvent">Event name</a>
        </div>

        <script src="../static/scripts/data.js"></script>  
    </body>

</html>
