<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/images/favicon.png">
    <link rel="stylesheet" href="../static/css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GROUPIE TRACKER</title>
</head>
<header>        {{template "header"}}
</header>
<body>
    <h1 id="title">Groupie Tracker</h1>
    <form method="POST">
        
        <div>
            <input list="allData" type="search" id="search_bar">
            <datalist id="allData">
                {{range .Groups}}
                <option value="{{.Name}}" ></option>
                {{end}}
            </datalist>
        </div>
        <button type="submit">Rechercher</button>
    </form>
    
    <p id="txtBienvenue">
        Bienvenue sur Groupie Tracker,
        <br>    
        site pour les passionés de musique
        <br>
        en tout genre.
    </p>
    
    <p id="txtExplication">
        Sur Groupie Tracker vous pouvez retrouver toutes
        <br>
        les informations dont vous avez besoin.
        <br>
        Information sur les artistes/groupes, lieux 
        <br>
        et évènements dans le monde entier.
    </p>
</body>
</html>
