<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="../static/images/favicon.png">
        <link rel="stylesheet" href="../static/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GROUPIE TRACKER</title>
    </head>
    <header>
        {{template "header"}}
    </header>
    <body>
        <h1>PAGE ACCUEIL</h1>

        <script src="../static/scripts/data.js"></script>  

    </body>
    <footer>

    </footer>
</html>
