<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="../static/images/favicon.png">
        <link rel="stylesheet" href="../static/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/map.css" rel="stylesheet">
        <title>GROUPIE TRACKER</title>
    </head>
    <header>
        {{template "header"}}
    </header>
    <body>
        <h1>Locations - Map</h1>
        <div id="map">Google Maps</div>
        <script src="/static/scripts/maps.js" defer></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAenIyntci-S0QlSifbhifRRuTbtlD7_Kk&callback=initMap&libraries=&v=weekly"
        defer
        ></script> 
    </body>
    
</html>
