body {
    margin-left:15%;
}

h1 {
    text-align:center;
}

.options {
    width:25%;
    height:100%;
    background-color:blanchedalmond;
}

.pageArtistes {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.groups{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width:70%;
    height:auto;
}

.oneGroup {
    width:auto;
}


datalist {
    display:flex;
}