header {
    overflow: hidden;
    background-color: #1e3d59;
    height: 20%;
    width: 100%;
}

header a {
    font-family: Roboto;

    float: left;
    text-align: center;
    padding: 12px;
    text-decoration:blueviolet;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

#logo{
    float: left;
    width: 10%;    
}

header div {
    display:flex;
    align-items:space-around;
    justify-content:space-around;


}

#boutons{
    width: 100%;
    font-size: 250%;
    border-radius: 10px;
    /* border: none; */
    background-color: #1e3d59; 
    color: white;
    text-align: center;
}