#header{
    position: absolute;
    float: left;
    left: 0%;
    right: 85%;
    top: 0%;
    bottom: 0%;
    background: #15598B;
}
#logo{
    float: left;
    width: 52%;
    height: 150px;
    margin-left: 20%;
    margin-top: 5%;
}
#btAccueil{
    float: left;
    width: 52%;
    height: 30px;
    margin-left: 20%;
    margin-top: 20%;
}
#btArtistes{
    float: left;
    width: 52%;
    height: 30px;
    margin-left: 20%;
    margin-top: 4%;
}
#btMaps{
    float: left;
    width: 52%;
    height: 30px;
    margin-left: 20%;
    margin-top: 4%;
}
#btConcerts{
    float: left;
    width: 52%;
    height: 30px;
    margin-left: 20%;
    margin-top: 4%;
}