#head {
    float: top;
    height: 400px;
    width: 100%;
    /* background-size: cover;
    background-image: url(/static/images/801x410_pnl_bercy_2_auto_x2.jpg);
    margin-top: -5%; */
}
p{
    text-align: center;
    font-size: 80px;
    color: black;
}
