#map {
    position: absolute;
    width: 667px;
    height: 479px;
    left: 30%;
    top: 40%;
    background: #C4C4C4;
}
p{
    text-align: center;
    font-size: 80px;
    color: white;
}
body {
    background-color: black;
    color: white;
}
#search {
    position: absolute;
    width: 306px;
    height: 53px;
    left: 30%;
    top: 33%;
}
#loupe {
    position: absolute;
    float: left;
    height: 53px;
    left: 47%;
    top: 33.5%;
}
#head {
    height: 300px;
    width: 100%;
    background-size:cover;
    background-image: url(/static/images/801x410_pnl_bercy_2_auto_x2.jpg);
    margin-top: -5%;
}
#concerts{
    position: absolute;
    width: 327px;
    height: 479px;
    left: 70%;
    top: 40%;
    background: #C4C4C4;

}

