#map {
    display: flex;
    float: left;
    width: 50%;
    height: 400px;
    margin-top: 5%;
    margin-left: -25%;
    background: #C4C4C4;
}
p{
    text-align: center;
    font-size: 80px;
    color: white;
}
body {
    background-color: black;
    color: white;
}
#city {
    float: left;
    margin-left: 40%;
    border-radius: 20%;
    height: 50px;
    width: 10%;
    background : #15598B;
    color: white;
}
#head {
    float: top;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-image: url(/static/images/801x410_pnl_bercy_2_auto_x2.jpg);
    margin-top: -5%;
}
/* #concerts{
    float: right;
    display: flex;
    margin-right: 15%;
    margin-top: 6%;
    width: 20%;
    height: 400px;
    background: #C4C4C4;
} */

