{{define "header"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../static/css/header.css">
        <title>Test</title>
    </head>
    <body>
        <div id="header">
            <img id="logo" src="../../static/images/bob.png">
            
            <a href='/'><button id="btAccueil" type="button" onclick="">Accueil</button></a>
            <a href='/artistes'><button id="btArtistes" type="button" onclick="">Artistes</button></a>
            <a href='/locations'><button id="btMaps" type="button" onclick="">Maps</button></a>
            <a href='/events'><button id="btConcerts" type="button" onclick="">Listes des concerts</button></a>
</div>
    </body>
</html>
{{end}}