{{define "header"}}
<head>

    <link rel="stylesheet" href="../../static/css/header.css">
    <link rel="stylesheet" href="../../static/css/style.css">


</head>
<header>
    <img id="logo" src="../../static/images/icon.png">
<div>
    <a href='/'><button id="boutons" type="button" onclick=""> 🏡 Accueil</button></a>
    <a href='/artistes'><button id="boutons" type="button" onclick=""> 🎤 Artistes</button></a>
    <a href='/locations'><button id="boutons" type="button" onclick=""> 🗺️ Maps</button></a>
    <a href='/events'><button id="boutons" type="button" onclick="">🎫 Concerts </button></a>
</div>

</header>
{{end}}